body {background-color: rgba(112, 166, 156, 1);}

@font-face {
  font-family: 'WITCHED';
  src:  url('/fonts/WTICHED.woff2') format('woff2'),
        url('/fonts/WITCHED.woff') format('woff'),
        url('/fonts/WITCHED.ttf') format('truetype');

  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* h1 {
  height: 150px;
  line-height: 200px;
  font-family: 'WITCHED', sans-serif;
  font-weight: 200;
  color: white;
  letter-spacing: 0.1em;
  font-size: 64px;
}

h1 span {
  position: absolute;
  left: 80px;
}

 h1::before {
  content: "";
  position: absolute;
  height: 400px;
  width: 400px;
  background: url('/images/LegalBitch1.png') no-repeat left top;
  background-size: 225px;
  background-position: 0px 0px;
  z-index: 0;
} */

.logo {
  width: 300px;
  height: auto; /* keeps aspect ratio */
}
